<div class="card card-login mx-auto mt-5">
  <div class="card-header">
    Resend confirmation instructions
    <%= link_to root_url do %>
      <i class="fas fa-times close"></i>
    <% end %>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group position-relative">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", "aria-describedby": "emailHelp", placeholder: "Enter email address", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <%= f.submit "Resend confirmation instructions", class:"btn btn-primary btn-block" %>
    <% end %>
    <div class="text-center fc-mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>